<template>
  <v-app id="inspire" dark>
    <core-toolbar />

    <core-navigation />

    <core-routerview />

    <core-footer />
  </v-app>
</template>


<script>
export default {
  props: {
    source: String
  }
};
</script>